<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.try-calendar"
        version     = "1.6.0"
        versionCode = "101" > 
        <name>try-calendar</name>
        <description>try-calendar</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">Jesse Monroy</author>

        <preference name='phonegap-version' value='cli-8.1.1' />
        <preference name="android-build-tool" value="gradle" />
        <platform name="android" />

        <!-- PLUGINS * PLUGINS * PLUGINS -->
        <plugin name="cordova-plugin-device" spec="~2.0.2" />
        <plugin name="cordova-plugin-calendar" spec="~5.1.3" />

    </widget>
